main {

    // background-color: red;
    .The-walking-dead {
        position: relative;

        .image {

            img {
                width: 618px;
                border-radius: 15px;

            }

            h5 {
                position: absolute;
                color: $letterColor;
                font-family: "Kanit", sans-serif;
                font-weight: 600;
                font-style: normal;
                margin-bottom: 150px;
                top: 0;
                left: 0;


            }
        }

        .inform {
            margin-left: 70px;

            .about {

                h1 {
                    color: $letterColor;
                    margin: 40px 0 30px 0;
                    font-family: "Kanit", sans-serif;
                    font-weight: 600;
                    font-style: normal;
                }

                h5 {
                    color: $letterColor;
                    width: 404px;
                    height: 90px;
                    font-family: "Kanit", sans-serif;
                    font-weight: 400;
                    font-style: normal;

                }
            }

            .buttons {
                margin-top: 70px;
                display: flex;
                width: 571px;
                justify-content: space-between;


                .first {
                    background-color: $secondaryColor;
                    width: 137px;
                    height: 56px;
                    border-radius: 15px;
                    color: $letterColor;
                    border: none;

                }

                .second {
                    background-color: $secondaryColor;
                    width: 135px;
                    height: 56px;
                    border-radius: 15px;
                    color: $letterColor;
                    border: none;


                }

                .third {
                    background-color: $primaryColor;
                    width: 225px;
                    height: 56px;
                    border-radius: 15px;
                    color: $letterColor;
                    // border-color:  ;
                    border: 1px solid $secondaryColor;
                }

            }
        }



    }


    hr {
        margin-top: 66px;
        @include hr
    }

    .my-last-watch {
        display: flex;
        flex-wrap: wrap;

        .title {
            h2 {
                color: $letterColor;
                font-family: "Kanit", sans-serif;
                font-weight: 500;
                font-style: normal;
                width: 233px;
                height: 54px;
            }
        }

        .last-watch-cards {

            .top {
                display: flex;
                // justify-content: space-between;
                

                .Interstellar {
                    position: relative;
                    margin-right: 25px;

                    img {
                        width: 832px;
                        height: 476px;
                        border-radius: 15px;
                    }

                    h5 {
                        position: absolute;
                        color: $letterColor;
                        margin-bottom: 150px;


                    }



                }

                .La-Casa-De-Papel {
                    img {
                        width: 404px;
                        height: 476px;
                        border-radius: 15px;
                    }

                    h5 {
                        color: $letterColor;

                    }

                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;

                .Joker-Double-Madness {
                    img {
                        width: 404px;
                        height: 476px;
                        border-radius: 15px;
                    }

                    h5 {
                        color: $letterColor;

                    }

                }

                .Emancipation {
                    img {
                        width: 404px;
                        height: 476px;
                        border-radius: 15px;
                    }

                    h5 {
                        color: $letterColor;

                    }

                }

                .Old-Boy {
                    img {
                        width: 404px;
                        height: 476px;
                        border-radius: 15px;
                    }

                    h5 {
                        color: $letterColor;

                    }

                }
            }
        }

        // @media (min-width: 576px) {
        //     .last-watch{

        //         width: 50%;
        //       }

        // }
    }

    .According-to-Your-Choices {
        @include flex;
        flex-wrap: wrap;
        .title {
           h2{
            color: $letterColor;
            font-family: "Kanit", sans-serif;
            font-weight: 500;
            font-style: normal;
            width: 427px;
            height: 54px;
            // text-align: left
           }
        }
        .slide-container{
            max-width: 1120px;
            width: 100%;
            background-color: white;
            padding: 40px 0;
            // height: 1000px;
           .slide-content{
            margin: 0 40px;
            .card-wrapper{
                .cards{
                    @include flex;
                    // justify-content: space-between;
                    .card{
                        width: 190px;
                        height: 400px;
                        border: none;
                        border-radius: 15px;
                        background-color: $cardColor;
                        margin-right: 23px;
                        .inner{
                            .image{
                                img{
                                  width: 190px;
                                }
                            }
                            .name{
                                color: $letterColor;
                                margin-left: 12px;
                            }
                        }
                    }
                }
               
                
            }
           }
        }
        
        
    }
}