* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
}

body {
  background-color: rgb(4, 19, 22);
}

.menu {
  height: 37px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  height: 128px;
  gap: 10px;
}
header nav {
  display: flex;
  max-width: 1254px;
  margin-left: 1rem;
  gap: 117px;
}
header nav .logo h1 {
  color: #F5EFEF;
  margin-top: 0.5rem;
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}
header nav .menu {
  gap: 75px;
  display: flex;
  align-items: center;
  width: 845px;
}
header nav .menu ul {
  display: flex;
  margin-top: 2.8rem;
  width: 660px;
  gap: 60px;
}
header nav .menu ul li a {
  text-decoration: none;
  color: #F5EFEF;
}
header nav .menu select {
  display: flex;
  margin-top: 1.8rem;
  width: 72px;
  gap: 10px;
  color: white;
  background-color: #041316;
  border: none;
}
header nav .menu .icons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 110px;
  height: 25px;
  gap: 60px;
  color: #F5EFEF;
}
header nav .menu .icons ul {
  margin: 0;
}
@media (min-width: 576px) {
  header nav .logo h1 {
    width: 100%;
  }
}
header hr {
  width: 1260px;
  color: #14525E;
  border-radius: 0.5px;
}

footer .foot {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
footer .foot .logo h1 {
  color: #F5EFEF;
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}
footer .foot .logo h5 {
  color: #F5EFEF;
  font-family: "Miriam Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 420px;
}
footer .foot .info h4 {
  color: #F5EFEF;
  font-family: "Kanit";
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
footer .foot .info ul {
  padding-left: 0;
}
footer .foot .info ul li a {
  text-decoration: none;
  color: #F5EFEF;
}
footer .foot .contact h4 {
  color: #F5EFEF;
  font-family: "Kanit";
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
footer .foot .contact ul {
  padding-left: 0;
}
footer .foot .contact ul li i {
  color: #F5EFEF;
}
footer .foot .contact ul li a {
  text-decoration: none;
  color: #F5EFEF;
}

main .The-walking-dead {
  position: relative;
}
main .The-walking-dead .image img {
  width: 618px;
  border-radius: 15px;
}
main .The-walking-dead .image h5 {
  position: absolute;
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 150px;
  top: 0;
  left: 25px;
  padding-top: 325px;
}
main .The-walking-dead .inform {
  margin-left: 70px;
}
main .The-walking-dead .inform .about h1 {
  color: #F5EFEF;
  margin: 40px 0 30px 0;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
main .The-walking-dead .inform .about h5 {
  color: #F5EFEF;
  width: 404px;
  height: 90px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main .The-walking-dead .inform .buttons {
  margin-top: 70px;
  display: flex;
  width: 571px;
  justify-content: space-between;
}
main .The-walking-dead .inform .buttons .first {
  background-color: #14525E;
  width: 137px;
  height: 56px;
  border-radius: 15px;
  color: #F5EFEF;
  border: none;
}
main .The-walking-dead .inform .buttons .second {
  background-color: #14525E;
  width: 135px;
  height: 56px;
  border-radius: 15px;
  color: #F5EFEF;
  border: none;
}
main .The-walking-dead .inform .buttons .third {
  background-color: #041316;
  width: 225px;
  height: 56px;
  border-radius: 15px;
  color: #F5EFEF;
  border: 1px solid #14525E;
}
main hr {
  margin-top: 66px;
  width: 1260px;
  color: #14525E;
  border-radius: 0.5px;
}
main .my-last-watch {
  display: flex;
  flex-wrap: wrap;
}
main .my-last-watch .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 54px;
}
main .my-last-watch .last-watch-cards .top {
  display: flex;
  padding-bottom: 25px;
}
main .my-last-watch .last-watch-cards .top .Interstellar {
  position: relative;
  padding-right: 25px;
}
main .my-last-watch .last-watch-cards .top .Interstellar img {
  width: 832px;
  height: 476px;
  border-radius: 15px;
}
main .my-last-watch .last-watch-cards .top .Interstellar h5 {
  position: absolute;
  color: #F5EFEF;
  margin-bottom: 150px;
  top: 0;
  left: 25px;
  padding-top: 435px;
}
main .my-last-watch .last-watch-cards .top .La-Casa-De-Papel {
  position: relative;
}
main .my-last-watch .last-watch-cards .top .La-Casa-De-Papel img {
  width: 404px;
  height: 476px;
  border-radius: 15px;
}
main .my-last-watch .last-watch-cards .top .La-Casa-De-Papel h5 {
  position: absolute;
  top: 0;
  left: 25px;
  padding-top: 435px;
  color: #F5EFEF;
}
main .my-last-watch .last-watch-cards .bottom {
  display: flex;
  justify-content: space-between;
}
main .my-last-watch .last-watch-cards .bottom .Joker-Double-Madness {
  position: relative;
}
main .my-last-watch .last-watch-cards .bottom .Joker-Double-Madness img {
  width: 404px;
  height: 476px;
  border-radius: 15px;
}
main .my-last-watch .last-watch-cards .bottom .Joker-Double-Madness h5 {
  position: absolute;
  top: 0;
  left: 25px;
  padding-top: 435px;
  color: #F5EFEF;
}
main .my-last-watch .last-watch-cards .bottom .Emancipation {
  position: relative;
}
main .my-last-watch .last-watch-cards .bottom .Emancipation img {
  width: 404px;
  height: 476px;
  border-radius: 15px;
}
main .my-last-watch .last-watch-cards .bottom .Emancipation h5 {
  position: absolute;
  top: 0;
  left: 25px;
  padding-top: 435px;
  color: #F5EFEF;
}
main .my-last-watch .last-watch-cards .bottom .Old-Boy {
  position: relative;
}
main .my-last-watch .last-watch-cards .bottom .Old-Boy img {
  width: 404px;
  height: 476px;
  border-radius: 15px;
}
main .my-last-watch .last-watch-cards .bottom .Old-Boy h5 {
  position: absolute;
  top: 0;
  left: 25px;
  padding-top: 435px;
  color: #F5EFEF;
}
main .According-to-Your-Choices {
  display: flex;
  flex-wrap: wrap;
}
main .According-to-Your-Choices .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 427px;
}
main .According-to-Your-Choices .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .According-to-Your-Choices .slide-container .card-wrapper .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .According-to-Your-Choices .slide-container .card-wrapper .card .inner .image img {
  width: 190px;
}
main .According-to-Your-Choices .slide-container .card-wrapper .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}
main .Top-10-Movies {
  display: flex;
  flex-wrap: wrap;
}
main .Top-10-Movies .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .Top-10-Movies .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .Top-10-Movies .slide-container .card-wrapper2 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .Top-10-Movies .slide-container .card-wrapper2 .card .inner .image img {
  width: 190px;
}
main .Top-10-Movies .slide-container .card-wrapper2 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}
main .New-For-You {
  display: flex;
  flex-wrap: wrap;
}
main .New-For-You .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .New-For-You .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .New-For-You .slide-container .card-wrapper3 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .New-For-You .slide-container .card-wrapper3 .card .inner .image img {
  width: 190px;
}
main .New-For-You .slide-container .card-wrapper3 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}
main .The-Best-Series {
  display: flex;
  flex-wrap: wrap;
}
main .The-Best-Series .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .Popular-Suggestions {
  display: flex;
  flex-wrap: wrap;
}
main .Popular-Suggestions .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .Popular-Suggestions .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .Popular-Suggestions .slide-container .card-wrapper4 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .Popular-Suggestions .slide-container .card-wrapper4 .card .inner .image img {
  width: 190px;
}
main .Popular-Suggestions .slide-container .card-wrapper4 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}
main .The-Best {
  display: flex;
  flex-wrap: wrap;
}
main .The-Best .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .The-Best .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .The-Best .slide-container .card-wrapper5 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .The-Best .slide-container .card-wrapper5 .card .inner .image img {
  width: 190px;
}
main .The-Best .slide-container .card-wrapper5 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}

main .characters {
  display: flex;
  flex-wrap: wrap;
}
main .characters .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main .characters .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .characters .slide-container .card-wrapper .card {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
main .characters .slide-container .card-wrapper .card .inner .image img {
  width: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
}
main .characters .slide-container .card-wrapper .card .inner .name {
  color: #F5EFEF;
  text-align: center;
}
main .opinions {
  display: flex;
}
main .opinions .opin .title {
  display: flex;
  width: 186px;
  height: 50px;
}
main .opinions .opin .title img {
  width: 50px;
}
main .opinions .opin .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding: 6px 0 0 10px;
}
main .opinions .opin .comment1 .user1 {
  display: flex;
  margin-top: 50px;
}
main .opinions .opin .comment1 .user1 img {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}
main .opinions .opin .comment1 .user1 h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 12px 0 0 10px;
}
main .opinions .opin .comment1 .inp {
  margin-left: 60px;
}
main .opinions .opin .comment1 .inp input {
  width: 1200px;
  padding-left: 10px;
  background-color: rgba(20, 82, 94, 0.3019607843);
  border: none;
  border-radius: 10px;
}
main .opinions .opin .comment2 .user2 {
  display: flex;
  margin-top: 30px;
}
main .opinions .opin .comment2 .user2 img {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}
main .opinions .opin .comment2 .user2 h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 12px 0 0 10px;
}
main .opinions .opin .comment2 .inp2 {
  display: flex;
  margin-left: 60px;
}
main .opinions .opin .comment2 .inp2 input {
  width: 1200px;
  padding-left: 10px;
  background-color: rgba(20, 82, 94, 0.3019607843);
  border: none;
  border-radius: 10px;
}
main .opinions .opin .comment2 .rate {
  display: flex;
  margin: 10px 0 0 60px;
}
main .opinions .opin .comment2 .rate .like {
  display: flex;
  padding-right: 40px;
}
main .opinions .opin .comment2 .rate .like img {
  width: 23px;
  height: 20px;
}
main .opinions .opin .comment2 .rate .like h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  padding-left: 5px;
}
main .opinions .opin .comment2 .rate .dislike {
  display: flex;
}
main .opinions .opin .comment2 .rate .dislike img {
  width: 23px;
  padding: 4px 0;
}
main .opinions .opin .comment2 .rate .dislike h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  padding-left: 5px;
}
main .opinions .opin .more {
  display: flex;
  margin-top: 40px;
}
main .opinions .opin .more h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-top: 6px;
}
main .for-you {
  display: flex;
  flex-wrap: wrap;
}
main .for-you .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .for-you .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .for-you .slide-container .card-wrapper2 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .for-you .slide-container .card-wrapper2 .card .inner .image img {
  width: 190px;
}
main .for-you .slide-container .card-wrapper2 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}

main .Dowloaded {
  display: flex;
  flex-wrap: wrap;
}
main .Dowloaded .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .Dowloaded .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .Dowloaded .slide-container .mylist-card-wrapper1 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .Dowloaded .slide-container .mylist-card-wrapper1 .card .inner .image img {
  width: 190px;
}
main .Dowloaded .slide-container .mylist-card-wrapper1 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}
main .Watch-Later {
  display: flex;
  flex-wrap: wrap;
}
main .Watch-Later .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .Watch-Later .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .Watch-Later .slide-container .mylist-card-wrapper2 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .Watch-Later .slide-container .mylist-card-wrapper2 .card .inner .image img {
  width: 190px;
}
main .Watch-Later .slide-container .mylist-card-wrapper2 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}
main .For-Kids {
  display: flex;
  flex-wrap: wrap;
}
main .For-Kids .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .For-Kids .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .For-Kids .slide-container .mylist-card-wrapper3 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .For-Kids .slide-container .mylist-card-wrapper3 .card .inner .image img {
  width: 190px;
}
main .For-Kids .slide-container .mylist-card-wrapper3 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}
main .Favorites {
  display: flex;
  flex-wrap: wrap;
}
main .Favorites .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .Favorites .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .Favorites .slide-container .mylist-card-wrapper4 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .Favorites .slide-container .mylist-card-wrapper4 .card .inner .image img {
  width: 190px;
}
main .Favorites .slide-container .mylist-card-wrapper4 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}
main .Directors-Essential-Films {
  display: flex;
  flex-wrap: wrap;
}
main .Directors-Essential-Films .title h2 {
  color: #F5EFEF;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main .Directors-Essential-Films .slide-container {
  max-width: 1260px;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}
main .Directors-Essential-Films .slide-container .mylist-card-wrapper5 .card {
  width: 190px;
  height: 400px;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  margin-right: 23px;
}
main .Directors-Essential-Films .slide-container .mylist-card-wrapper5 .card .inner .image img {
  width: 190px;
}
main .Directors-Essential-Films .slide-container .mylist-card-wrapper5 .card .inner .name {
  color: #F5EFEF;
  margin-left: 12px;
}

main section {
  display: flex;
}
main section .img {
  height: 1024px;
  width: 720px;
}
main section .signin {
  width: 440px;
  height: 558px;
  margin-top: 226px;
  margin-left: 180px;
}
main section .signin h1 {
  color: #F5EFEF;
  height: 96px;
  width: 440px;
  size: 64px;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 95.68px;
}
main section .signin #email {
  width: 440px;
  height: 55px;
  border-radius: 15px;
}
main section .signin #password {
  width: 440px;
  height: 55px;
  border-radius: 15px;
  margin-top: 15px;
}
main section .signin #checkbox {
  color: #F5EFEF;
  margin-right: 80px;
}
main section .signin a {
  color: #F5EFEF;
}
main section .signin #d-btn {
  width: 440px;
  height: 55px;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 25px;
}
main section .signin #w-btn {
  height: 55px;
  width: 440px;
  border-radius: 15px;
  margin-bottom: 25px;
}/*# sourceMappingURL=style.css.map */